.Fleet {
  font-family: 'Roboto Slab', sans-serif;
  .fleet-btns {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', sans-serif;
    .btn {
      margin: 1rem 0.5rem 0.5rem 0.5rem;
    }
  }
  .table {
    width: 75%;
    margin: auto;
    background-color: rgb(0,40,94);
    color: white;
    tr {
      border-radius: 2px;
    }
  }
}