.My-Navbar {
  // height: 7vh;
  #my-navbar {
    background-color: rgb(0,40,94) !important;
    padding: 0.15rem 1rem 0.15rem 1rem;
    .navbar-brand, .nav-link {
      font-family: 'Roboto Slab', serif;
    }
    img {
      max-height: 35px;
      max-width: 100%;
      padding: 0;
      margin: 0;
    }
    .nav-icon {
      color: white;
    }
    .nav-icon:hover {
      color: rgb(190,212,233);
    }
  }
}