.Tug-Item {
  font-family: 'Roboto', sans-serif;
  tr, td {
    max-height: 50px;
  }
  .overflow-hidden {
    max-height: 50px;
    overflow: hidden;
  }
    .btn {
      margin: 0 3px 0 3px;
      color: rgb(97,137,185);
  }
  .btn:hover {
    color: rgb(190,212,233);
    text-decoration-style: none;
  }
}