@import '~react-leaflet-markercluster/dist/styles.min.css';

.Map {
  display: flex;
  justify-content: center;
  z-index: 10;
  .leaflet-container {
    height: 93vh;
    width: 100vw;
  }
}
#map-menu-list {
  // display: flex;
  // flex-flow: column;
  // align-items: flex-end;
  margin-left: 10px;
  margin-top: 70px;
  padding: 0;
  border-radius: 4px !important;
  display: block;
  box-shadow: none;
  border: 2px solid rgba(0,0,0,0.2) !important;
  line-height: 30px;
  #map-menu-back, #map-menu-refresh {
    z-index: 900;
    background-color: #fff;
    // box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-top: 1px solid #ccc;
    color: #343a40;
    justify-content: center;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    height: 30px;
    width: 30px;
  }
  #map-menu-back:hover, #map-menu-refresh:hover {
    background-color: #f5f5f5;
  }
  .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid rgba(0,0,0,0.2);
  }
}