.Map {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  .leaflet-container {
    margin-top: 0.5rem;
    height: 80vh;
    width: 90vw;
    border: 1px solid black;
  }
  .row {
    justify-content: center;
    margin: 0;
  }
  .col {
    padding: 0;
  }
}
