.AddTug {
  margin-top: 1.5rem;
  h3 {
    text-align: center;
  }
  .AddTug-form {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    form {
      width: 40rem;
      .row {
        margin-left: 0;
        margin-right: 0;
      }
      label {
        text-align: left;
        width: 5rem;
      }
      .add-tug-btn {
        display: flex;
        align-content: right;
        background-color: rgb(0,40,94);

      }
    }
  }
}